<!DOCTYPE html>
<html lang="[[#if lang]][[lang]][[else]]en[[/if]]"[[#if ng-app]] ng-app="[[ng-app]]"[[/if]]>
<head>
  <meta charset="UTF-8">
  <title>[[title]]</title>
  [[#if viewport]]<meta name="viewport" content="[[viewport]]">[[/if]]
  [[#if keywords]]<meta name="keywords" content="[[keywords]]">[[/if]]
  [[#if description]]<meta name="description" content="[[description]]">[[/if]]
  [[#if author]]<meta name="author" content="[[author]]">[[/if]]
  [[#if style]][[css style]][[/if]]
  [[#each styles]][[css .]]
  [[/each]]
</head>
<body>
[[body]]
</body>
[[#each scripts]]
[[script .]][[/each]]
[[livereload]]
</html>
